<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 생성</title>
</head>
<body>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript">
    const board = {
      title : null,
      content : null
    }

    function requestCreateBoard() {
      board.title = document.getElementById('title').value;
      board.content = document.getElementById('content').value;
        if (sessionStorage.getItem("username") === null) {
            alert("로그인 후 작성 가능합니다 !");
            window.location.replace("/thymeleaf/login")
        }
      console.log(board);
    }
  </script>
  <center><h2>게시글 작성하기</h2></center>
  <strong>제목 : </strong>
  <span><input id="title"></span>
  <br/>
  <strong>내용 : </strong>
  <span><textarea id="content"></textarea></span>
  <p><input type="button" value="작성 완료" onclick="requestCreateBoard()"></p>

</body>
</html>