<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript">
    const userInfo ={
      username : null,
      password : null,
      nickname : null
    }

    function join() {
      userInfo.username = document.getElementById("username").value;
      userInfo.password = document.getElementById("password").value;
      userInfo.nickname = document.getElementById("nickname").value;

      console.log(userInfo);

      $.ajax({
        contentType : "application/json",
        url: "/api/join",
        type: "POST",
        dataType : "text",
        data: JSON.stringify(userInfo),
      }).done(function (res) {
        console.log(res);
        if (res === "회원가입 완료") {
          alert(res);
          window.location.replace("/thymeleaf/login");
        }else {
          alert("아이디 중복 !");
        }
      })
              .fail(function (res){
                console.log(res);
              });
    }
  </script>
  <center><h2>회원가입</h2></center>
  <strong>아아디 : </strong>
  <span><input id="username"></span>
  <br/>
  <strong>비밀번호 : </strong>
  <span><input id="password"></span>
  <br/>
  <strong>닉네임 : </strong>
  <span><input id="nickname"></span>
  <P><input type="button" onclick="join()" value="회원가입"></P>

</body>
</html>