<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
    const comment = " ";

    function requestComment() {

    }

</script>
<body>
    <h2 th:text="${board.title}"></h2>
    <strong>작성자 : </strong>
    <span th:text="${board.getWriter()}"></span>
    <hr/>
    <strong>생성 날짜 : </strong>
    <span th:text="${board.getCreatedDate()}"></span>
    <hr/>
    <strong>조회 수 : </strong>
    <span th:text="${board.getViewCnt()}"></span>
    <hr/>
    <strong>내용 : </strong>
    <span th:text="${board.getContent()}"></span>



    <form action="/thymeleaf/create/comment" method="GET">
        <input type="hidden"  th:value="${board.getBoard_id()}">
        <input placeholder="댓글 작성" name="comment">
        <input type="submit" value="입력">
    </form>


</body>
</html>